.site-name{
  margin: auto;
}
h1{
  color: #7B241C
  font-weight: bolder;
  font-weight: 900;
}
.site-name{
  text-align: right;
}

}
a{
  align-content: ="center"
  text-decoration:none;
  color:#000
}
a:hover{
  color:blue;
}
.card{
  align-items: center;
}
body{
  background-image: url('../imagenes/Foto 2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#CD5C5C;
  color:
 font-family: Tahoma, Arial, Helvetica;
 font-weight: 400;
}

.waves-effect: {
  background-color: #7B241C
}
.card-medium {
  width: 400px

}

.iris{
  background-image: src("../imagenes/Foto 2");
  background-repeat: no-repeat;
  background-size: cover;
}

#Scrollbutton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#Scrollbutton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}



.btn-group{
  float:left;
  width:33.3%;
  box-sizing:border-box;
  position:absolute;

}

.footer{
  background-color: white;
}

.row .col{
  float: none;
  margin-left: auto;
  margin-right: auto;
